<%if @story.blank? == false %>
    <p>Story: <%= @story.name %></p>
    <p>Type: <%= @story.story_type %></p>
    <p>Estimate: <%= @story.estimate %></p>
    <p>Description: <%= @story.description %></p>
    <p>Status: <%= @story.current_state %></p>
<% else %>
    <br>
<% end %>