<% if @story.blank? == false %>
    <div class="col-lg-12">
      <ul>
        <li><span class="pr-indiv-header">Story:</span>
          <p><%= @story.name %></p>
        </li>
        <li><span class="pr-indiv-header">Type:</span>
          <p><%= @story.story_type %></p>
        </li>
        <li><span class="pr-indiv-header">Estimate:</span>
          <p><%= @story.estimate %></p>
        </li>
        <li><span class="pr-indiv-header">Status:</span>
          <p><%= @story.current_state %></p>
        </li>
        <li><span class="pr-indiv-header">Description:</span>
          <p><%= @story.description %></p>
        </li>
      </ul>
    </div>
<% else %>
    <br>
<% end %>