<div class="container console-container">
  <div class="row console-row">
    <div class="col-md-4 console-panel profile-panel">
      <h3 class="panel-title tracker-title"><%= @user.username.titleize %> Profile:</h3>
      <%= image_tag(@user.avatar_url) %>
      <span>Welcome <%= @user.first_name %> <%= @user.last_name %></span>
      <span><%= link_to "#{@user.email}", console_path %></span>
    </div>
    <div class="col-md-4 console-panel number-panel">
      <div class="col-md-6">
        <h3 class="panel-title tracker-title split">Projects:</h3>
        <div class="repo-count-loading">
          <%= image_tag('ajax-loader.gif') %>
        </div>
        <p class="project-count">
          <%= render 'console/project_count' %>
        </p>
      </div>
      <div class="col-md-6">
        <h3 class="panel-title github-title split">Repositories:</h3>
        <div class="repo-count-loading">
          <%= image_tag('ajax-loader.gif') %>
        </div>
        <p class="repo-count">
          <%= render 'console/repo_count' %>
        </p>
      </div> 
    </div>
    <div class="col-md-4 console-panel">
      <h3 class="panel-title github-title">Current Status:</h3>
        <div class="current-repo-loading">
          <%= image_tag('ajax-loader.gif') %>
        </div>
      <div class="list-group current-repo">
        <%= render 'console/current_repo'%>
      </div>
    </div>
  </div>

  <!-- Second Row of console panels -->
  <div class="row console-row">
    <div class="col-md-6 console-panel">
      <h3 class="panel-title tracker-title">Please select a Project to work on:</h3>
      <div class="repo-list-loading">
        <%= image_tag('ajax-loader.gif') %>
      </div>
      <div class="list-group project-list">
        <%= render 'console/project_list' %>
      </div>
    </div>
    <div class="col-md-6 console-panel">
      <h3 class="panel-title github-title">Please select a Repository to work on:</h3>
        <div class="repo-list-loading">
          <%= image_tag('ajax-loader.gif') %>
        </div>
      <div class="list-group repo-list">
        <%= render 'console/repo_list' %>
      </div>
    </div>
  </div>


  <div class="row console-row">
    <div class="col-md-6 console-panel" id="project-stories">
      <h3 class="panel-title tracker-title">Stories:</h3>
      <div class="project-story-loading">
        <%= image_tag('ajax-loader.gif') %>
      </div>
      <div class="project-stories">
        <%= render 'console/project_stories' %>
      </div>
    </div>
    <div class="col-md-3 console-panel" id="repo-branches">
      <!-- start app/views/console/_repo_branches.html.erb -->
          <h3 class="panel-title github-title">Branches:</h3>
          <div class="repo-branch-loading">
            <%= image_tag('ajax-loader.gif') %>
          </div>
          <div class="repo-branches">
            <%= render 'console/repo_branches' %>
          </div>  
      <!-- end app/views/console/_repo_branches.html.erb -->
    </div>
    <div class="col-md-3 console-panel" id="repo-pull-requests">
      <!-- end app/views/console/_repo_pull_requests.html.erb -->
        <h3 class="panel-title github-title">Pull Requests:</h3>
        <div class="repo-pull-request-loading">
          <%= image_tag('ajax-loader.gif') %>
        </div>
        <div class="repo-pull-requests">
          <%= render 'console/repo_pull_requests' %>
        </div> 
        <!-- end app/views/console/_repo_pull_requests.html.erb -->
    </div>
  </div>

  <div class="row console-row">
    <div class="col-md-6 console-panel">
      <h3 class="panel-title tracker-title">Story Information: <i class="fa fa-file-text"></i></h3>
      <div class="info-individual-loading">
        <%= image_tag('ajax-loader.gif') %>
      </div>
      <div class="story-info-panel">
        <%= render 'console/story_indiv' %>
      </div>
    </div>
    <div class="col-md-6 console-panel">
      <h3 class="panel-title github-title">Branch/Pull Request Information: <i class="fa fa-file-code-o"></i></h3>
      <div class="info-individual-loading">
        <%= image_tag('ajax-loader.gif') %>
      </div>
      <div class="individual-info-panel">
              <%= render 'console/branch_indiv' %>
              <%= render 'console/pull_request_indiv' %>
      </div>
    </div>
  </div>
</div>
