<div class="container">
  <div class="row console-row">
    <div class="col-md-4 console-panel">
      <h3><%= @user.username %></h3>
      <hr>
      <%= image_tag(@user.avatar_url) %>
    </div>
    <div class="col-md-4 console-panel">
      <h3>Repositories</h3>
      <hr>
      <% @repositories.each do |repo| %>
          <li><%= repo.repo_name %></li>
      <% end %>
    </div>
    <div class="col-md-4 console-panel">
      <h3>Current Status</h3>
      <hr>
      <li><h4><%= @repository.repo_name %></h4></li>
      <li>ID: <%= @repository.repo_id %></li>
      <li>Number of forks: <%= @repository.number_of_forks %></li>
      <li>Forked: <%= @repository.forked %></li>
      <!--<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta-->
      <!--felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum-->
      <!--massa justo sit amet risus.</p>-->
    </div>
  </div>

  <!-- Second Row of console panels -->
  <div class="row console-row">
    <div class="col-md-6 console-panel">
      <h2>Heading</h2>
      <hr>
      <p><i class="fa fa-code"></i> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
        commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
        magna mollis euismod. Donec sed odio dui. </p>
    </div>
    <div class="col-md-6 console-panel">
      <h2>Heading</h2>
      <hr>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
        sed odio dui. </p>
    </div>
  </div>


  <div class="row console-row">
    <div class="col-md-3 console-panel">
      <h2>Heading</h2>
      <hr>
      <p><i class="fa fa-code"></i> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
        commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
        magna mollis euismod. Donec sed odio dui. </p>
    </div>
    <div class="col-md-3 console-panel">
      <h2>Heading</h2>
      <hr>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
        sed odio dui. </p>
    </div>
    <div class="col-md-3 console-panel">
      <h2>Heading</h2>
      <hr>
      <p><i class="fa fa-code"></i> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
        commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
        magna mollis euismod. Donec sed odio dui. </p>
    </div>
    <div class="col-md-3 console-panel">
      <h2>Heading</h2>
      <hr>
      <p><i class="fa fa-code"></i> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
        commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
        magna mollis euismod. Donec sed odio dui. </p>
    </div>
  </div>

  <div class="row console-row">
    <div class="col-md-6 console-panel">
      <h2>Heading</h2>
      <hr>
      <p><i class="fa fa-code"></i> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
        commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
        magna mollis euismod. Donec sed odio dui. </p>
    </div>
    <div class="col-md-6 console-panel">
      <h2>Heading</h2>
      <hr>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
        sed odio dui. </p>
    </div>
  </div>
</div>
